{% extends 'bootstrap3/bootstrap3.html' %}

{% load static %}

{% block bootstrap3_title %}
  {% block title %}
  {% endblock %}
{% endblock %}

{% block bootstrap3_extra_head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'portfolio/images/favicon.ico' %}">
  {% block css_file %}

  {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
<div class="container-fluid">
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
</div>
{% endblock %}
